
.cc-page-title { 
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid $border;
  height: 2.4rem;
  .title,
  .subtitle { 
    font-weight: normal;
    margin: 0;
    color: $hc-color-blue;
  }
  .title { font-size: 1.4rem; }
  .subtitle { 
    font-size: 1.6rem;
    // padding-top: 0.2rem;
  }
  + .cc-page-breadcrumb { margin-top: -0.5rem; }
}


.cc-page-breadcrumb {
  font-size: 0.8rem;
  margin-bottom: 1rem;
  li { 
    position: relative;
    padding: 0 0 0 1em;
    margin-right: 0.5em; 
    &:first-child { padding-left: 0; }
    &:before  {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  a { padding: 0; }
}