// products list

.cc-product-list-block {
  margin: 2rem 0;
}
.cc-product-list {
  > ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    li { 
      > a { 
        height: 100%;
        &:hover {
          .cc-item {
            border-color: $hc-color-blue;
          }
        }
      }
      margin-bottom: 1rem;
      width: 49%;
      @include minimobile {
        width: 100%;
      }
      @include widescreen {
        width: 32%;
      }
    }
  }
  // to show in 'list view' (default column view)
  &.cc-view-list {
    li { width: 100%; }
    .cc-item-image {
      flex-basis: 60px;
    }
  }
}

// single item
.cc-item {
  background: $hc-color-whiteblue;
  border: 1px solid $border;
  display: flex;
  height: 100%;
  @include mobile {
    flex-direction: column;
  }
}
.cc-item-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0.5rem;
  color: $text;
  font-size: 0.8rem;
  .title {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  .content { 
    flex-grow: 1;
    margin: 0 0 0.5rem;
  }
  .cc-content-footer {  }
  @include mobile {
    width: 100%;
  }
}
.cc-item-image {
  flex: 0 140px;
  border-left: 1px solid $border;
}

// list view options
.cc-view-list-option { 
  padding-top: 1rem;
  color: #bbb;
  span:hover { color: $hc-color-blue; }
}

