// aside section dropdown
.cc-section-dropdownmenu {
  margin-bottom: 1rem;
  width: 100%;
  .dropdown-trigger { width: 100%; }
  button { 
    width: 100%; 
    span:first-child { 
      flex-grow: 1; 
      text-align: left;
    }
  }
}

// aside menu dropdown
// available on mobiles
.cc-side-menu-dropdown {
  display: none;
  margin-bottom: 1rem;
  button { width: 100%; }
  .cc-button-title {
    flex-grow: 1;
    text-align: left;
  }
  .icon { transition: all 0.3s ease; }
  &.is-active {
    .icon {
      transform: rotate(180deg);
    }
  }
}

// aside menu
.menu-list {
  margin-bottom: 1rem;
  ul { display: none; }
  a {
    color: $hc-color-lightblue;
    border-top: 1px solid #fff;
    background: whitesmoke;
    &:hover { color: $hc-color-blue; }
    &.is-active {
      background: #eee;
      color: $text;
      cursor: default;
      + ul { 
        display: block;
        a {
          background: whitesmoke;
          // border-top-color: #eee;
          // &.is-active { background: transparent; }
        }
      }
    }
  }
  li ul {
    margin: 0;
    border: 0;
    padding: 0 0 0 0.75rem;
  }
}

// aside menu-group
.cc-menu-group {
  border: 1px solid #eee;
  margin-bottom: 20px;
  padding-bottom: 10px;
  li {
    padding: 5px 10px;
  }
  input[type="radio"],
  input[type="checkbox"] {
    + span {
      padding-left: .5em;
    }
  }
  
}
// aside menu group title
.cc-menu-group-title {
  background: whitesmoke;
  padding: .7em 10px .9em;
  font-size: 0.9em;
  font-weight: bold;
  margin-bottom: 10px;
}

// aside button-link
.cc-aside-button {
  margin: 1rem 0;
  a { 
    width: 100%;
    margin-bottom: 1rem;
  }
}