// product content

// products tabs (selectors)
.cc-products-tabs {
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid $border;
  a {
    &.is-active {
      .title { color: $text; }
      &:after { 
        @include arrow($border); 
        background: #fff;
        width: 1em;
        height: 1em;
        bottom: -1em;
        left: 50%;
        margin-bottom: -1px;
        margin-left: -0.5em;
      }
    }
  }
  .title {
    display: block;
    font-size: 1rem;
  }
  .subtitle { 
    display: block;
    font-size: 0.7rem;
  }
  ul {
    display: flex;
  }
  li {
    position: relative;
   
    &:not(:first-child) {
      padding-left: 1rem;
      border-left: 1px solid $border;
    }
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}

// product description
.cc-product-description {}

// product short instructions
.cc-product-instructions {
  font-size: 0.9em;
  h4 { font-weight: bold; }
}

// product additional information usually in accordion
.cc-product-info {
  article:first-child {
    padding-top: 1rem;
    border-top: 1px solid #ccc;
  }
}
// product image
.cc-product-image {
  margin-bottom: 10px;
  img {
    display: flex;
    border: 1px solid $border;
    padding: 1px;
  }
  .lightbox-gallery {
    a {
      float: left;
      display: block;
      overflow: hidden;
      margin-bottom: 5px;
      &:first-child { 
        width: 75%; 
        height: auto;
        margin-right: 5px;
      }
      &:not(:first-child) { width: 20%; }
    }
  }
}

// produc couments to donwload
.cc-product-docs {
  font-size: 0.9em;
  li { padding-top: 0.7rem }
}

// CE symbol
.cc-product-ce {
  position: relative;
  font-size: 32px;
  line-height: 1em;
  padding-left: 48px;
  &::before {
    position: absolute;
    left: -4px;
    top: 5px;
    display: block;
    width: 48px;
    height: 32px;
    background-image: url("../img/ce_symbol_x24.png");
    background-position: top center;
    background-repeat: no-repeat; 
    content: '';
    opacity: 0.8;
  }
}