// products list

.cc-product-list-block {
  margin: 2rem 0;
}
.cc-product-list {
  > ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &:after {
      flex: auto;
      content: "";
      width: 32%;
      flex-grow: 0;
    }
    li { 
      > a { 
        height: 100%;
        &:hover {
          .cc-item {
            border-color: $hc-color-blue;
          }
        }
      }
      margin-bottom: 1rem;
      width: 49%;
      @include minimobile {
        width: 100%;
      }
      @include widescreen {
        width: 32%;
      }
      // &:last-child {
      //   padding-left: 2%;
      // }
    }
  }
  // to show in 'list view' (default column view)
  &.cc-view-list {
    li { width: 100%; }
    .cc-item-image {
      flex-basis: 60px;
    }
  }
}

// single item
.cc-item {
  flex-direction: column;
  background: $hc-color-whiteblue;
  border: 1px solid $border;
  display: flex;
  height: 100%;
  @include desktop {
    flex-direction: row;
  }
}
.cc-item-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0.5rem;
  color: $text;
  font-size: 0.8rem;
  .title {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  .content { 
    flex-grow: 1;
    margin: 0 0 0.5rem;
  }
  .cc-content-footer {  }
  @include mobile {
    width: 100%;
  }
}
.cc-item-image {
  flex: 0 140px;
  // border-left: 1px solid $border;
  padding: 5px;
  img {
    border: 1px solid #ccc;
    &:not(:first-child) { display: none; }
  }
}

// list view options
.cc-view-list-option { 
  padding-top: 0.5rem;
  color: #bbb;
  span:hover { color: $hc-color-blue; }
  .cc-show-help { 
    margin: 0 10px;
    color: $hc-color-yellow; 
  }
}

// product labels
.cc-product-labels {
  ul {
    margin: 5px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  li {
    min-width: 130px;
    max-width: 130px;
    background: darken($hc-color-lightblue, 10%);
    color: #fff;
    padding: .5em;
    margin: 0 5px 5px 0;
    text-align: center;
    border-radius: 5px;
    line-height: 1.2em;
    font-size: .9em;
    font-weight: bold;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

