body {
  //  font-size: $hc-body-size;
}
a { 
  color: $hc-color-lightblue;
  &:hover { color: $hc-color-blue; }
  &.is-active { color: $text; }
}

.title { color: $hc-color-blue; }

.cc-page-title { 
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid $border;
  .title { margin: 0 }
}
