// page header

// burger menu | navbar
.navbar {
  // min-height: $hc-header-height;
}
.navbar-brand {
  align-items: center;
  min-height: $hc-header-height;
}
.navbar-burger {
  width: 4rem;
  height: 4rem;
  margin-right: 0.5rem;
  &:hover {
    background-color: transparent;
    span { background-color: $hc-color-blue; }
  }
  span {
    height: 2px;
    background-color: $hc-color-lightblue;
  }
}
a.navbar-item {
  align-items: center;
  color: $hc-color-lightblue;
  font-weight: bold;
  font-size: 0.9rem;
  // padding-bottom: 10px;
  &:hover { 
    color: $hc-color-blue;
    background-color: transparent;
  }
  &.is-active { color: $text; }
}
.navbar.is-fixed-top {
  + * {
    margin-top: $hc-header-height;
  }
}

.cc-page-header {
  border-bottom: 1px solid $hc-color-lightblue;
  // height: $hc-header-height;
  // padding-bottom: 0.5rem;
  // background: whitesmoke;
  height: $hc-header-height;
  position: fixed;
  top: 0;
  transition: top 0.2s ease-out;
  width: 100%;
  &.nav-up {
    top: - $hc-header-height;
  }
}

.cc-logo  img {
  max-height: 100%;
}

.cc-main-menu {
  // font-size: 0.9rem;
}