// publications-wissenwertes page
.cc-subcontent-list {
  margin: 1rem 0;
  font-size: 0.9rem;
  .columns {
    padding: 1.5rem 0 1rem 0;
    margin-bottom: 2rem;
    border-bottom: 1px solid $border;
    margin: 0;
    .columns {
      padding-left: 14px;
      border-bottom: 0px;
      .cc-page-title h2 {
        font-size: 1.3rem;
        cursor: pointer;
      }
    }
  }
  .column { 
    padding: 0;
  }
  .cc-donwload {
    font-size: 0.8em;
    text-align: right;
    padding-top: 0.3rem;
    span { vertical-align: middle; }
    span:last-child { 
      font-size: 1rem;
    }
    @include mobile {
      text-align: left;
    }
  }
  .title { 
    color: $hc-color-blue;
    font-size: 1.3rem;
    margin-bottom: 1rem; 
    cursor: pointer;
  }
  
}


.publicationsList {
  .cc-subcontent-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;
  }
  .columns {
    flex-basis: 100%;
    border: 1px solid #dbdbdb;
    margin: 0 0 15px;
    padding: 10px;
  }
  @include tablet {
    .columns { flex-basis: 49%; }
  }
}