// page footer
.cc-page-footer {
  padding: 0;
  background: whitesmoke;
  font-size: .7rem;
  color: #999;
  p { margin-bottom: 1rem; }
  li { padding-bottom: .3rem; }
  a:not(:hover) { 
    color: #777;
    
  }
  .subtitle { 
    font-size: 0.9rem;
    margin-bottom: .5rem;
    a { 
      color: $hc-default-color;
      &:hover {
        color: $hc-color-blue;
      }
    }
  }
  .cc-footer-main {
    padding: 2rem 1.5rem;
  }
  .cc-footer-foot {
    background: #eee;
    padding: 0.7rem 1.5rem;
    font-size: 0.9em;
    a { margin: 0 0.2rem; }
  }
  // mobile adjustmets
  @include mobile {
    text-align: center;
    .is-pulled-left,
    .is-pulled-right {
      float: none !important;
    }
  }
}