// $body-size 

$hc-header-height: 6rem;

// colors
$hc-default-color: #4a4a4a;
$hc-color-blue: hsl(210,40,50); // rgb(66,123,177)
$hc-color-lightblue: hsl(200,63,63); // rgb(103,181,221)
$hc-color-whiteblue: hsl(219,17,97);
$hc-color-yellow: hsl(39,97,58) // rgb(252 180 45), #fcb42d